### Created by : Ashwini Kumar
### Dated : 7th Feb 2020
### Objective : Give intro and explain some very basics concepts of pandas to the group
### Dataset used : Demographics of Academy Awards (Oscars) Winners downloaded from Kaggle

In [1]:
### import the required packages to the notebook
import pandas as pd
import os

In [2]:
### Get the current working drectory
os.getcwd()

'C:\\Users\\ashwinku\\Documents\\training'

In [3]:
### Change the working drectory to dataset locations
os.chdir("C:\\Users\\ashwinku\\Documents\\training\\")

In [4]:
## print all the files present in current working directory
os.listdir()

['.ipynb_checkpoints',
 '15th_16thfeb.ipynb',
 'numpy_tutorial.ipynb',
 'oscars_demographics.csv',
 'Pandas and Viz.ipynb',
 'Pandas_only.ipynb',
 'Session 1.pptx',
 'Session 2',
 'Session 2.zip']

In [5]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [6]:
### lets read the csv first
oscars = pd.read_csv('oscars_demographics.csv')
## Code fails with default encoding 
## Link to all encoding allowed in python : https://docs.python.org/3/library/codecs.html#standard-encodings

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xcc in position 1: invalid continuation byte

In [51]:
pd.read_csv?

In [7]:
### Try different encoding to read the file
oscars = pd.read_csv('oscars_demographics.csv',encoding='ISO-8859-2')

In [8]:
### print the various statistics about data
print("shape of data is :", oscars.shape[0])
print ("Name of columns are :",oscars.columns)
print ("Index of data is :",oscars.index)

shape of data is : 441
Name of columns are : Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'birthplace', 'birthplace:confidence',
       'date_of_birth', 'date_of_birth:confidence', 'race_ethnicity',
       'race_ethnicity:confidence', 'religion', 'religion:confidence',
       'sexual_orientation', 'sexual_orientation:confidence', 'year_of_award',
       'year_of_award:confidence', 'award', 'biourl', 'birthplace_gold',
       'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold',
       'religion_gold', 'sexual_orientation_gold', 'year_of_award_gold'],
      dtype='object')
Index of data is : RangeIndex(start=0, stop=441, step=1)

In [9]:
### print top 2 rows of the data
oscars.head(2)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN

In [10]:
### Lets describe the data first before anything
oscars.describe()
### does not include object data types

,_unit_id,_trusted_judgments,birthplace:confidence,date_of_birth:confidence,race_ethnicity:confidence,religion:confidence,sexual_orientation:confidence,year_of_award,year_of_award:confidence,year_of_award_gold
count,4.410000e+02,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,11.000000
mean,6.704825e+08,7.637188,0.995259,0.996607,0.999130,0.989373,0.992390,1973.165533,0.990082,1977.363636
std,1.139974e+05,19.015541,0.038917,0.032060,0.016438,0.065610,0.049458,24.030895,0.059177,21.592928
min,6.704544e+08,3.000000,0.657100,0.656200,0.657100,0.333300,0.657100,1927.000000,0.333300,1942.000000
25%,6.704545e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1953.000000,1.000000,1964.000000
50%,6.704546e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1973.000000,1.000000,1977.000000
75%,6.704547e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1.000000,1997.000000
max,6.709729e+08,95.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2014.000000,1.000000,2006.000000

In [35]:
oscars.describe(include = object)

,_unit_state,_last_judgment_at,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold
count,441,416,441,441,441,441,441,441,441,9,8,441,441,2,10,3
unique,2,49,233,346,6,22,6,5,348,8,8,336,348,2,5,2
top,finalized,2/10/15 2:04,New York City,30-Jul-74,White,Na,Straight,Best Actress,http://www.nndb.com/people/333/000026255/,New York City,22-Jun-06,Million Dollar Baby,Katharine Hepburn,White,Na,Straight
freq,416,28,35,4,411,269,397,95,4,2,1,5,4,1,3,2

For numeric data, the result’s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles. By default the lower percentile is 25 and the upper percentile is 75. The 50 percentile is the same as the median.

For object data (e.g. strings or timestamps), the result’s index will include count, unique, top, and freq. The top is the most common value. The freq is the most common value’s frequency. Timestamps also include the first and last items.

In [37]:
## Now we have some idea about data lets udnerstand subsetting the data using Location
# 0:n = 0, --- n-1

## Subsetting the data using Location

In [38]:
test1 = oscars.iloc[0:3,[0,3,4,9,-1,-2,26]]
print (test1)
type(test1)

    _unit_id  _trusted_judgments _last_judgment_at race_ethnicity  \
0  670454353                   3      2/10/15 3:45          White
1  670454354                   3      2/10/15 2:03          White
2  670454355                   3      2/10/15 2:05          White

   year_of_award_gold sexual_orientation_gold  year_of_award_gold
0                 NaN                     NaN                 NaN
1                 NaN                     NaN                 NaN
2                 NaN                     NaN                 NaN

pandas.core.frame.DataFrame

In [39]:
test2 = oscars.iloc[0:3,0:3]
print (test2)
type(test2)

    _unit_id  _golden _unit_state
0  670454353    False   finalized
1  670454354    False   finalized
2  670454355    False   finalized

pandas.core.frame.DataFrame

One Gotcha : If you select only one column you will get Series data 
Workaround : Pass the columns in a list to get a dataframe

### Subsetting the data using Index

In [40]:
test3 = oscars.loc[0,'_unit_id']
print (test3)
type(test3)

670454353

numpy.int64

Indexing a using Dataframe.ix[ ] :
Early in the development of pandas, there existed another indexer, ix. This indexer was capable of selecting both by label and by integer location. While it was versatile, it caused lots of confusion because it’s not explicit. Sometimes integers can also be labels for rows or columns. Thus there were instances where it was ambiguous. Generally, ix is label based and acts just as the .loc indexer. However, .ix also supports integer type selections (as in .iloc) where passed an integer. This only works where the index of the DataFrame is not integer based .ix will accept any of the inputs of .loc and .iloc.
Note: The .ix indexer has been deprecated in recent versions of Pandas.

### Subsetting based on a condition

In [42]:
### select rows where birthplace is new y ork 
oscars[ (oscars['birthplace'] =='New York City')  ]

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
17,670454370,False,finalized,3,2/10/15 1:55,New York City,1.0,11-Oct-18,1.0000,White,...,Best Director,http://www.nndb.com/people/281/000064089/,NaN,NaN,West Side Story,Jerome Robbins,NaN,NaN,NaN,NaN
37,670454390,False,finalized,3,2/10/15 1:52,New York City,1.0,7-Jul-1899,1.0000,White,...,Best Director,http://www.nndb.com/people/373/000041250/,NaN,NaN,My Fair Lady,George Cukor,NaN,NaN,NaN,NaN
52,670454405,True,golden,75,NaN,New York City,1.0,3-Feb-39,0.9597,White,...,Best Director,http://www.nndb.com/people/810/000043681/,New York City,NaN,The Deer Hunter,Michael Cimino,NaN,NaN,NaN,NaN
60,670454413,False,finalized,3,2/10/15 2:18,New York City,1.0,15-Sep-46,1.0000,White,...,Best Director,http://www.nndb.com/people/545/000022479/,NaN,NaN,Platoon,Oliver Stone,NaN,NaN,NaN,NaN
63,670454416,False,finalized,3,2/10/15 2:07,New York City,1.0,15-Sep-46,1.0000,White,...,Best Director,http://www.nndb.com/people/545/000022479/,NaN,NaN,Born on the Fourth of July,Oliver Stone,NaN,NaN,NaN,NaN
110,670454463,False,finalized,3,2/10/15 2:05,New York City,1.0,25-Dec-1899,1.0000,White,...,Best Actor,http://www.nndb.com/people/837/000024765/,NaN,NaN,The Africa Queen,Humphrey Bogart,NaN,NaN,NaN,NaN
119,670454472,False,finalized,3,2/10/15 2:01,New York City,1.0,2-Nov-13,1.0000,White,...,Best Actor,http://www.nndb.com/people/938/000031845/,NaN,NaN,Elmer Gantry,Burt Lancaster,NaN,NaN,NaN,NaN
124,670454477,False,finalized,3,2/10/15 3:48,New York City,1.0,19-Feb-24,1.0000,White,...,Best Actor,http://www.nndb.com/people/314/000026236/,NaN,NaN,Cat Ballou,Lee Marvin,NaN,NaN,NaN,NaN
134,670454487,False,finalized,3,2/10/15 1:51,New York City,1.0,22-Apr-37,1.0000,White,...,Best Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,One Flew Over the Cuckoo's Nest,Jack Nicholson,NaN,NaN,NaN,NaN
139,670454492,False,finalized,3,2/10/15 2:29,New York City,1.0,17-Aug-43,1.0000,White,...,Best Actor,http://www.nndb.com/people/765/000023696/,NaN,NaN,Raging Bull,Robert De Niro,NaN,NaN,NaN,NaN
156,670454509,False,finalized,3,2/10/15 1:49,New York City,1.0,22-Apr-37,1.0000,White,...,Best Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,As Good as It Gets,Jack Nicholson,NaN,NaN,NaN,NaN
161,670454514,False,finalized,3,2/10/15 2:05,New York City,1.0,14-Apr-73,1.0000,White,...,Best Actor,http://www.nndb.com/people/112/000026034/,NaN,NaN,The Pianist,Adrien Brody,NaN,NaN,NaN,NaN
182,670454535,False,finalized,3,2/10/15 3:51,New York City,1.0,2-Nov-1901,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/125/000063933/,NaN,NaN,A Tree Grows in Brooklyn,James Dunn,NaN,NaN,NaN,NaN
191,670454544,False,finalized,3,2/10/15 3:51,New York City,1.0,10-Sep-15,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/620/000042494/,NaN,NaN,The Barefoot Contessa,Edmond O'Brien,NaN,NaN,NaN,NaN
194,670454547,False,finalized,3,2/10/15 4:06,New York City,1.0,5-Feb-19,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/820/000022754/,NaN,NaN,Sayonara,Red Buttons,NaN,NaN,NaN,NaN
203,670454556,False,finalized,3,2/10/15 1:59,New York City,1.0,1-Oct-20,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/768/000023699/,NaN,NaN,The Fortune Cookie,Walter Matthau,NaN,NaN,NaN,NaN
204,670454557,False,finalized,3,2/10/15 2:04,New York City,1.0,18-Feb-25,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/001/000022932/,NaN,NaN,Cool Hand Luke,George Kennedy,NaN,NaN,NaN,NaN
211,670454564,False,finalized,3,2/10/15 1:53,New York City,1.0,17-Aug-43,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/765/000023696/,NaN,NaN,The Godfather Part II,Robert De Niro,NaN,NaN,NaN,NaN
212,670454565,False,finalized,3,2/10/15 1:48,New York City,1.0,20-Jan-1896,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/895/000022829/,NaN,NaN,The Sunshine Boys,George Burns,NaN,NaN,NaN,NaN
220,670454573,False,finalized,3,2/10/15 2:03,New York City,1.0,22-Apr-37,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,Terms of Endearment,Jack Nicholson,NaN,NaN,NaN,NaN
273,670454626,False,finalized,3,2/10/15 2:01,New York City,1.0,21-Jun-21,1.0000,White,...,Best Actress,http://www.nndb.com/people/808/000063619/,NaN,NaN,Born Yesterday,Judy Holliday,NaN,NaN,NaN,NaN
275,670454628,False,finalized,3,2/10/15 2:00,New York City,1.0,30-Aug-1898,1.0000,White,...,Best Actress,http://www.nndb.com/people/807/000063618/,NaN,NaN,"Come Back, Little Sheba",Shirley Booth,NaN,NaN,NaN,NaN
295,670454648,False,finalized,3,2/10/15 2:05,New York City,1.0,21-Dec-37,1.0000,White,...,Best Actress,http://www.nndb.com/people/637/000022571/,NaN,NaN,Klute,Jane Fonda,NaN,NaN,NaN,NaN
302,670454655,False,finalized,3,2/10/15 2:05,New York City,1.0,21-Dec-37,1.0000,White,...,Best Actress,http://www.nndb.com/people/637/000022571/,NaN,NaN,Coming Home,Jane Fonda,NaN,NaN,NaN,NaN
339,670454692,False,finalized,3,2/10/15 1:57,New York City,1.0,2-Nov-1892,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/079/000063887/,NaN,NaN,In Old Chicago,Alice Brady,NaN,NaN,NaN,NaN
344,670454697,False,finalized,3,2/10/15 2:16,New York City,1.0,27-Oct-18,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/580/000045445/,NaN,NaN,Mrs. Miniver,Teresa Wright,NaN,NaN,NaN,NaN
347,670454700,True,golden,76,NaN,New York City,1.0,25-Jun-1903,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/081/000063889/,New York City,NaN,National Velvet,Anne Revere,NaN,NaN,Straight,NaN
349,670454702,False,finalized,3,2/10/15 2:41,New York City,1.0,29-Apr-17,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/084/000063892/,NaN,NaN,Gentleman's Agreement,Celeste Holm,NaN,NaN,NaN,NaN
350,670454703,False,finalized,3,2/10/15 4:02,New York City,1.0,8-Mar-10,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/085/000063893/,NaN,NaN,Key Largo,Claire Trevor,NaN,NaN,NaN,NaN
377,670454730,True,golden,87,NaN,New York City,1.0,31-Oct-27,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/409/000032313/,NaN,31-Oct-27,Shampoo,Lee Grant,NaN,Jewish,NaN,NaN
392,670454745,False,finalized,3,2/10/15 2:05,New York City,1.0,13-Nov-55,1.0000,Black,...,Best Supporting Actress,http://www.nndb.com/people/242/000025167/,NaN,NaN,Ghost,Whoopi Goldberg,NaN,NaN,NaN,NaN
412,670454765,False,finalized,3,2/10/15 1:56,New York City,1.0,14-Sep-60,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/327/000042201/,NaN,NaN,The Fighter,Melissa Leo,NaN,NaN,NaN,NaN
419,670944168,False,finalized,3,2/10/15 3:55,New York City,1.0,3-Feb-39,1.0000,White,...,Best Director,http://www.nndb.com/people/810/000043681/,NaN,NaN,The Deer Hunter,Michael Cimino,NaN,NaN,NaN,NaN
422,670944543,False,finalized,3,2/10/15 2:12,New York City,1.0,31-Oct-27,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/409/000032313/,NaN,NaN,Shampoo,Lee Grant,NaN,NaN,NaN,NaN
423,670944623,False,finalized,3,2/10/15 2:11,New York City,1.0,25-Jun-1903,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/081/000063889/,NaN,NaN,National Velvet,Anne Revere,NaN,NaN,NaN,NaN

In [18]:
### select rows where birthplace is new york and _unit state is golded
oscars[(oscars['birthplace']== 'New York City') | (oscars['_unit_state'] == 'golden')]

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
17,670454370,False,finalized,3,2/10/15 1:55,New York City,1.0000,11-Oct-18,1.0000,White,...,Best Director,http://www.nndb.com/people/281/000064089/,NaN,NaN,West Side Story,Jerome Robbins,NaN,NaN,NaN,NaN
21,670454374,True,golden,82,NaN,"Nevada, Mo",1.0000,5-Aug-06,1.0000,White,...,Best Director,http://www.nndb.com/people/704/000024632/,NaN,5-Aug-06,The Treasure of the Sierra Madre,John Huston,NaN,NaN,NaN,NaN
33,670454386,True,golden,87,NaN,"Sucha, Galicia, Austria",1.0000,22-Jun-06,1.0000,White,...,Best Director,http://www.nndb.com/people/982/000024910/,"Sucha, Galicia, Austria",22-Jun-06,The Apartment,Billy Wilder,NaN,Jewish,NaN,1961.0
37,670454390,False,finalized,3,2/10/15 1:52,New York City,1.0000,7-Jul-1899,1.0000,White,...,Best Director,http://www.nndb.com/people/373/000041250/,NaN,NaN,My Fair Lady,George Cukor,NaN,NaN,NaN,NaN
52,670454405,True,golden,75,NaN,New York City,1.0000,3-Feb-39,0.9597,White,...,Best Director,http://www.nndb.com/people/810/000043681/,New York City,NaN,The Deer Hunter,Michael Cimino,NaN,NaN,NaN,NaN
60,670454413,False,finalized,3,2/10/15 2:18,New York City,1.0000,15-Sep-46,1.0000,White,...,Best Director,http://www.nndb.com/people/545/000022479/,NaN,NaN,Platoon,Oliver Stone,NaN,NaN,NaN,NaN
63,670454416,False,finalized,3,2/10/15 2:07,New York City,1.0000,15-Sep-46,1.0000,White,...,Best Director,http://www.nndb.com/people/545/000022479/,NaN,NaN,Born on the Fourth of July,Oliver Stone,NaN,NaN,NaN,NaN
82,670454435,True,golden,81,NaN,"Manchester, England",1.0000,20-Oct-56,1.0000,White,...,Best Director,http://www.nndb.com/people/887/000044755/,NaN,NaN,Slumdog Millionaire,Danny Boyle,NaN,Roman Catholic,NaN,NaN
110,670454463,False,finalized,3,2/10/15 2:05,New York City,1.0000,25-Dec-1899,1.0000,White,...,Best Actor,http://www.nndb.com/people/837/000024765/,NaN,NaN,The Africa Queen,Humphrey Bogart,NaN,NaN,NaN,NaN
111,670454464,True,golden,95,NaN,"Helena, Mt",1.0000,7-May-1901,1.0000,White,...,Best Actor,http://www.nndb.com/people/740/000031647/,NaN,NaN,High Noon,Gary Cooper,NaN,NaN,NaN,1953.0
119,670454472,False,finalized,3,2/10/15 2:01,New York City,1.0000,2-Nov-13,1.0000,White,...,Best Actor,http://www.nndb.com/people/938/000031845/,NaN,NaN,Elmer Gantry,Burt Lancaster,NaN,NaN,NaN,NaN
124,670454477,False,finalized,3,2/10/15 3:48,New York City,1.0000,19-Feb-24,1.0000,White,...,Best Actor,http://www.nndb.com/people/314/000026236/,NaN,NaN,Cat Ballou,Lee Marvin,NaN,NaN,NaN,NaN
134,670454487,False,finalized,3,2/10/15 1:51,New York City,1.0000,22-Apr-37,1.0000,White,...,Best Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,One Flew Over the Cuckoo's Nest,Jack Nicholson,NaN,NaN,NaN,NaN
139,670454492,False,finalized,3,2/10/15 2:29,New York City,1.0000,17-Aug-43,1.0000,White,...,Best Actor,http://www.nndb.com/people/765/000023696/,NaN,NaN,Raging Bull,Robert De Niro,NaN,NaN,NaN,NaN
152,670454505,True,golden,84,NaN,"Concord, Ca",1.0000,9-Jul-56,0.9648,White,...,Best Actor,http://www.nndb.com/people/687/000022621/,NaN,9-Jul-56,Philadelphia,Tom Hanks,NaN,Born-Again Christian,NaN,1994.0
156,670454509,False,finalized,3,2/10/15 1:49,New York City,1.0000,22-Apr-37,1.0000,White,...,Best Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,As Good as It Gets,Jack Nicholson,NaN,NaN,NaN,NaN
161,670454514,False,finalized,3,2/10/15 2:05,New York City,1.0000,14-Apr-73,1.0000,White,...,Best Actor,http://www.nndb.com/people/112/000026034/,NaN,NaN,The Pianist,Adrien Brody,NaN,NaN,NaN,NaN
179,670454532,True,golden,90,NaN,"Walters, Ok",1.0000,13-Dec-10,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/680/000042554/,NaN,NaN,Johnny Eager,Van Heflin,NaN,Na,NaN,NaN
182,670454535,False,finalized,3,2/10/15 3:51,New York City,1.0000,2-Nov-1901,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/125/000063933/,NaN,NaN,A Tree Grows in Brooklyn,James Dunn,NaN,NaN,NaN,NaN
191,670454544,False,finalized,3,2/10/15 3:51,New York City,1.0000,10-Sep-15,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/620/000042494/,NaN,NaN,The Barefoot Contessa,Edmond O'Brien,NaN,NaN,NaN,NaN
194,670454547,False,finalized,3,2/10/15 4:06,New York City,1.0000,5-Feb-19,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/820/000022754/,NaN,NaN,Sayonara,Red Buttons,NaN,NaN,NaN,NaN
203,670454556,False,finalized,3,2/10/15 1:59,New York City,1.0000,1-Oct-20,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/768/000023699/,NaN,NaN,The Fortune Cookie,Walter Matthau,NaN,NaN,NaN,NaN
204,670454557,False,finalized,3,2/10/15 2:04,New York City,1.0000,18-Feb-25,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/001/000022932/,NaN,NaN,Cool Hand Luke,George Kennedy,NaN,NaN,NaN,NaN
205,670454558,True,golden,84,NaN,"Malden, Ma",0.9595,16-Jun-07,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/559/000049412/,NaN,16-Jun-07,The Subject Was Roses,Jack Albertson,NaN,NaN,NaN,1969.0
211,670454564,False,finalized,3,2/10/15 1:53,New York City,1.0000,17-Aug-43,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/765/000023696/,NaN,NaN,The Godfather Part II,Robert De Niro,NaN,NaN,NaN,NaN
212,670454565,False,finalized,3,2/10/15 1:48,New York City,1.0000,20-Jan-1896,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/895/000022829/,NaN,NaN,The Sunshine Boys,George Burns,NaN,NaN,NaN,NaN
213,670454566,True,golden,91,NaN,"Chicago, Il",1.0000,26-Jul-22,0.9596,White,...,Best Supporting Actor,http://www.nndb.com/people/224/000032128/,NaN,NaN,All the President's Men,Jason Robards,NaN,NaN,NaN,1977.0
220,670454573,False,finalized,3,2/10/15 2:03,New York City,1.0000,22-Apr-37,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/722/000022656/,NaN,NaN,Terms of Endearment,Jack Nicholson,NaN,NaN,NaN,NaN
235,670454588,True,golden,62,NaN,"Laurel, Ne",1.0000,31-Aug-28,1.0000,White,...,Best Supporting Actor,http://www.nndb.com/people/764/000022698/,NaN,NaN,Affliction,James Coburn,NaN,Na,NaN,NaN
263,670454616,True,golden,76,NaN,"Independence, Mo",1.0000,16-Jul-11,1.0000,White,...,Best Actress,http://www.nndb.com/people/635/000043506/,NaN,16-Jul-11,Kitty Foyle,Ginger Rogers,White,NaN,NaN,NaN
273,670454626,False,finalized,3,2/10/15 2:01,New York City,1.0000,21-Jun-21,1.0000,White,...,Best Actress,http://www.nndb.com/people/808/000063619/,NaN,NaN,Born Yesterday,Judy Holliday,NaN,NaN,NaN,NaN
275,670454628,False,finalized,3,2/10/15 2:00,New York City,1.0000,30-Aug-1898,1.0000,White,...,Best Actress,http://www.nndb.com/people/807/000063618/,NaN,NaN,"Come Back, Little Sheba",Shirley Booth,NaN,NaN,NaN,NaN
280,670454633,True,golden,75,NaN,"Thomasville, Ga",1.0000,27-Feb-30,1.0000,White,...,Best Actress,http://www.nndb.com/people/747/000043618/,NaN,27-Feb-30,The Three Faces of Eve,Joanne Woodward,NaN,NaN,Straight,NaN
289,670454642,True,golden,86,NaN,"London, England",1.0000,27-Feb-32,1.0000,White,...,Best Actress,http://www.nndb.com/people/624/000023555/,"London, England",NaN,Who's Afraid of Virginia Woolf?,Elizabeth Taylor,NaN,NaN,NaN,1967.0
293,670454646,True,golden,89,NaN,"Ilford, Essex, England",1.0000,28-Dec-34,1.0000,White,...,Best Actress,http://www.nndb.com/people/260/000030170/,"Ilford, Essex, England",NaN,The Prime of Miss Jean Brodie,Maggie Smith,NaN,NaN,NaN,NaN
295,670454648,False,finalized,3,2/10/15 2:05,New York City,1.0000,21-Dec-37,1.0000,White,...,Best Actress,http://www.nndb.com/people/637/000022571/,NaN,NaN,Klute,Jane Fonda,NaN,NaN,NaN,NaN
300,670454653,True,golden,91,NaN,"Bascom, Fl",1.0000,14-Jan-41,1.0000,White,...,Best Actress,http://www.nndb.com/people/884/000022818/,"Bascom, Fl",NaN,Network,Faye Dunaway,NaN,NaN,NaN,1977.0
302,670454655,False,finalized,3,2/10/15 2:05,New York City,1.0000,21-Dec-37,1.0000,White,...,Best Actress,http://www.nndb.com/people/637/000022571/,NaN,NaN,Coming Home,Jane Fonda,NaN,NaN,NaN,NaN
322,670454675,True,golden,91,NaN,"Los Angeles, Ca",1.0000,27-Sep-72,1.0000,White,...,Best Actress,http://www.nndb.com/people/592/000023523/,"Los Angeles, Ca",NaN,Shakespeare in Love,Gwyneth Paltrow,NaN,NaN,NaN,NaN
328,670454681,True,golden,85,NaN,"Lincoln, Ne",1.0000,30-Jul-74,1.0000,White,...,Best Actress,http://www.nndb.com/people/333/000026255/,NaN,NaN,Million Dollar Baby,Hilary Swank,NaN,Na,NaN,2005.0
339,670454692,False,finalized,3,2/10/15 1:57,New York City,1.0000,2-Nov-1892,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/079/000063887/,NaN,NaN,In Old Chicago,Alice Brady,NaN,NaN,NaN,NaN
343,670454696,True,golden,91,NaN,"Quincy, Il",1.0000,3-May-06,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/690/000042564/,"Quincy, Il",NaN,The Great Lie,Mary Astor,NaN,Roman Catholic,NaN,1942.0
344,670454697,False,finalized,3,2/10/15 2:16,New York City,1.0000,27-Oct-18,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/580/000045445/,NaN,NaN,Mrs. Miniver,Teresa Wright,NaN,NaN,NaN,NaN
347,670454700,True,golden,76,NaN,New York City,1.0000,25-Jun-1903,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/081/000063889/,New York City,NaN,National Velvet,Anne Revere,NaN,NaN,Straight,NaN
349,670454702,False,finalized,3,2/10/15 2:41,New York City,1.0000,29-Apr-17,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/084/000063892/,NaN,NaN,Gentleman's Agreement,Celeste Holm,NaN,NaN,NaN,NaN
350,670454703,False,finalized,3,2/10/15 4:02,New York City,1.0000,8-Mar-10,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/085/000063893/,NaN,NaN,Key Largo,Claire Trevor,NaN,NaN,NaN,NaN
377,670454730,True,golden,87,NaN,New York City,1.0000,31-Oct-27,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/409/000032313/,NaN,31-Oct-27,Shampoo,Lee Grant,NaN,Jewish,NaN,NaN
392,670454745,False,finalized,3,2/10/15 2:05,New York City,1.0000,13-Nov-55,1.0000,Black,...,Best Supporting Actress,http://www.nndb.com/people/242/000025167/,NaN,NaN,Ghost,Whoopi Goldberg,NaN,NaN,NaN,NaN
401,670454754,True,golden,87,NaN,"Los Angeles, Ca",0.9593,4-Jun-75,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/493/000023424/,NaN,NaN,"Girl, Interrupted",Angelina Jolie,NaN,Buddhist,Bisexual,2000.0
402,670454755,True,golden,91,NaN,"La Jolla, Ca",1.0000,14-Aug-59,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/641/000025566/,"La Jolla, Ca",NaN,Pollock,Marcia Gay Harden,NaN,NaN,NaN,NaN
407,670454760,True,golden,92,NaN,"London, England",1.0000,7-Mar-71,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/309/000032213/,NaN,NaN,The Constant Gardener,Rachel Weisz,NaN,Jewish,NaN,2006.0
411,670454764,True,golden,86,NaN,"Woodlawn, Md",1.0000,11-Dec-67,0.9631,Black,...,Best Supporting Actress,http://www.nndb.com/people/836/000131443/,NaN,11-Dec-67,Precious,Mo'Nique,Black,NaN,NaN,NaN
412,670454765,False,finalized,3,2/10/15 1:56,New York City,1.0000,14-Sep-60,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/327/000042201/,NaN,NaN,The Fighter,Melissa Leo,NaN,NaN,NaN,NaN
419,670944168,False,finalized,3,2/10/15 3:55,New York City,1.0000,3-Feb-39,1.0000,White,...,Best Director,http://www.nndb.com/people/810/000043681/,NaN,NaN,The Deer Hunter,Michael Cimino,NaN,NaN,NaN,NaN
422,670944543,False,finalized,3,2/10/15 2:12,New York City,1.0000,31-Oct-27,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/409/000032313/,NaN,NaN,Shampoo,Lee Grant,NaN,NaN,NaN,NaN
423,670944623,False,finalized,3,2/10/15 2:11,New York City,1.0000,25-Jun-1903,1.0000,White,...,Best Supporting Actress,http://www.nndb.com/people/081/000063889/,NaN,NaN,National Velvet,Anne Revere,NaN,NaN,NaN,NaN
430,670945043,True,golden,86,NaN,"Lincoln, Ne",1.0000,30-Jul-74,1.0000,White,...,Best Actress,http://www.nndb.com/people/333/000026255/,NaN,NaN,Million Dollar Baby,Hilary Swank,NaN,NaN,NaN,NaN

In [19]:
### select rows where birthplace is new y ork and _unit state is golded
oscars[~((oscars['birthplace']== 'New York City') & (oscars['_unit_state'] == 'golden'))][oscars['_unit_state'] == 'finalized']

<ipython-input-19-dc3a4e3f9339>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  oscars[~((oscars['birthplace']== 'New York City') & (oscars['_unit_state'] == 'golden'))][oscars['_unit_state'] == 'finalized']

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,670946276,False,finalized,3,2/10/15 2:00,"London, England",1.0,7-Mar-71,1.0,White,...,Best Supporting Actress,http://www.nndb.com/people/309/000032213/,NaN,NaN,The Constant Gardener,Rachel Weisz,NaN,NaN,NaN,NaN
437,670946299,False,finalized,3,2/10/15 2:04,"Manchester, England",1.0,20-Oct-56,1.0,White,...,Best Director,http://www.nndb.com/people/887/000044755/,NaN,NaN,Slumdog Millionaire,Danny Boyle,NaN,NaN,NaN,NaN
438,670964912,False,finalized,3,2/10/15 2:03,"Chicago, Il",1.0,26-Jul-22,1.0,White,...,Best Supporting Actor,http://www.nndb.com/people/224/000032128/,NaN,NaN,All the President's Men,Jason Robards,NaN,NaN,NaN,NaN
439,670964956,False,finalized,3,2/10/15 2:01,"Laurel, Ne",1.0,31-Aug-28,1.0,White,...,Best Supporting Actor,http://www.nndb.com/people/764/000022698/,NaN,NaN,Affliction,James Coburn,NaN,NaN,NaN,NaN
440,670972898,False,finalized,3,2/10/15 2:01,"Nevada, Mo",1.0,5-Aug-06,1.0,White,...,Best Director,http://www.nndb.com/people/704/000024632/,NaN,NaN,The Treasure of the Sierra Madre,John Huston,NaN,NaN,NaN,NaN

In [20]:
type(oscars[((oscars['birthplace'].isin(['New York City','Chisinau, Moldova'])) | (oscars['_unit_state'] == 'golden'))])

pandas.core.frame.DataFrame

In [53]:
oscars.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'birthplace', 'birthplace:confidence',
       'date_of_birth', 'date_of_birth:confidence', 'race_ethnicity',
       'race_ethnicity:confidence', 'religion', 'religion:confidence',
       'sexual_orientation', 'sexual_orientation:confidence', 'year_of_award',
       'year_of_award:confidence', 'award', 'biourl', 'birthplace_gold',
       'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold',
       'religion_gold', 'sexual_orientation_gold', 'year_of_award_gold'],
      dtype='object')

### Understanding group by in python

The core syntax can be broken down similar to the Select-From-Groupby-Where clause. Sample code is given below :

Table_name.groupby(['Group'])['Feature'].aggregation()

Table_name to specify the FROM
'Group' is the list of GROUP BY variables
'Feature' is the list of SELECT variables (with or without WHERE condition)
Aggregate() is to specify the aggregation

In [54]:
#Two step query to find oscars by birthlace
oscars_birthplace = oscars.groupby(['race_ethnicity'])
out_birthplace = oscars_birthplace['_unit_id'].count()
print(out_birthplace)

race_ethnicity
Asian               4
Black              15
Hispanic            8
Middle Eastern      1
Multiracial         2
White             411
Name: _unit_id, dtype: int64

In [55]:
### above snippet can be implemented as follows 
oscars_birthplace = oscars.groupby(['birthplace'])['_unit_id'].count()
print (oscars_birthplace)

birthplace
Arlington, Va                      1
Astoria, Ny                        1
Athens, Ga                         1
Athens, Greece                     1
Atlanta, Ga                        1
                                  ..
Wise, Va                           1
Withington, Manchester, England    1
Woodlawn, Md                       2
Yonkers, Ny                        1
York, North Yorkshire, England     1
Name: _unit_id, Length: 233, dtype: int64

In [58]:
### Adding more levels
#oscars.groupby(['birthplace','_unit_state'])['_unit_id'].count()
# convert to df
df1 = oscars.groupby(['birthplace','_unit_state'])['_unit_id'].count().reset_index()
type(df1)
df1

                          birthplace _unit_state  _unit_id
0                      Arlington, Va   finalized         1
1                        Astoria, Ny   finalized         1
2                         Athens, Ga   finalized         1
3                     Athens, Greece   finalized         1
4                        Atlanta, Ga   finalized         1
..                               ...         ...       ...
248  Withington, Manchester, England   finalized         1
249                     Woodlawn, Md   finalized         1
250                     Woodlawn, Md      golden         1
251                      Yonkers, Ny   finalized         1
252   York, North Yorkshire, England   finalized         1

[253 rows x 3 columns]

In [64]:
### adding where clause race ethicity is Black
oscars_ethnic= oscars[oscars['race_ethnicity'] == 'Black'].groupby(['birthplace','_unit_state'])['_unit_id','year_of_award_gold'].count().reset_index()
type(oscars_ethnic)

<ipython-input-64-6f2a6839dfbd>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  oscars_ethnic= oscars[oscars['race_ethnicity'] == 'Black'].groupby(['birthplace','_unit_state'])['_unit_id','year_of_award_gold'].count().reset_index()

pandas.core.frame.DataFrame

In [65]:
oscars_ethnic.columns

Index(['birthplace', '_unit_state', '_unit_id', 'year_of_award_gold'], dtype='object')

In [69]:
oscars[oscars['birthplace'] == 'Mount Vernon, Ny']

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
133,670454486,False,finalized,3,2/10/15 3:48,"Mount Vernon, Ny",1.0,4-Nov-18,1.0,White,...,Best Actor,http://www.nndb.com/people/182/000025107/,NaN,NaN,Harry and Tonto,Art Carney,NaN,NaN,NaN,NaN
160,670454513,False,finalized,3,2/10/15 1:49,"Mount Vernon, Ny",1.0,28-Dec-54,1.0,Black,...,Best Actor,http://www.nndb.com/people/665/000023596/,NaN,NaN,Training Day,Denzel Washington,NaN,NaN,NaN,NaN
226,670454579,False,finalized,3,2/10/15 2:04,"Mount Vernon, Ny",1.0,28-Dec-54,1.0,Black,...,Best Supporting Actor,http://www.nndb.com/people/665/000023596/,NaN,NaN,Glory,Denzel Washington,NaN,NaN,NaN,NaN

In [67]:
# i = {'_unit_id':{'average':'mean','deviation':'std','range': lambda x : max(x)-min(x)}}
a = lambda x : max(x)- min(x)
i = {'_unit_id':['mean','std',a]}
oscars[oscars['race_ethnicity'] == 'Black'].groupby(['birthplace','_unit_state']).agg(i).reset_index()

             birthplace _unit_state   _unit_id
                                          mean        std <lambda_0>
0             Bronx, Ny   finalized  670454586        NaN          0
1          Brooklyn, Ny   finalized  670454572        NaN          0
2           Chicago, Il   finalized  670454761        NaN          0
3          Longview, Tx   finalized  670454518        NaN          0
4           Memphis, Tn   finalized  670454594        NaN          0
5   Mexico City, Mexico   finalized  670454768        NaN          0
6             Miami, Fl   finalized  670454475        NaN          0
7        Montgomery, Al   finalized  670454766        NaN          0
8      Mount Vernon, Ny   finalized  670454546  46.669048         66
9         New York City   finalized  670454745        NaN          0
10          Terrell, Tx   finalized  670454516        NaN          0
11          Wichita, Ks   finalized  670454694        NaN          0
12         Woodlawn, Md   finalized  670945834        NaN          0
13         Woodlawn, Md      golden  670454764        NaN          0

In [72]:
### Merge i back to the original datsets
print (oscars.shape)
merge1 = pd.merge(oscars,oscars_ethnic,on = ['birthplace'],how = 'inner')

(441, 27)

In [73]:
merge2 = pd.merge(oscars,oscars_ethnic,on = ['birthplace','_unit_state'],how = 'left')

In [74]:
merge2.shape

(441, 29)

In [ ]:
### Is is commin to get NAN s in pyth

In [77]:
oscars.fillna('Unknown',inplace = True)

In [78]:
oscars

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,Unknown,Unknown,Two Arabian Knights,Lewis Milestone,Unknown,Unknown,Unknown,Unknown
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,Unknown,Unknown,The Divine Lady,Frank Lloyd,Unknown,Unknown,Unknown,Unknown
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,Unknown,Unknown,All Quiet on the Western Front,Lewis Milestone,Unknown,Unknown,Unknown,Unknown
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,Unknown,Unknown,Skippy,Norman Taurog,Unknown,Unknown,Unknown,Unknown
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,Unknown,Unknown,Bad Girl,Frank Borzage,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,670946276,False,finalized,3,2/10/15 2:00,"London, England",1.0,7-Mar-71,1.0,White,...,Best Supporting Actress,http://www.nndb.com/people/309/000032213/,Unknown,Unknown,The Constant Gardener,Rachel Weisz,Unknown,Unknown,Unknown,Unknown
437,670946299,False,finalized,3,2/10/15 2:04,"Manchester, England",1.0,20-Oct-56,1.0,White,...,Best Director,http://www.nndb.com/people/887/000044755/,Unknown,Unknown,Slumdog Millionaire,Danny Boyle,Unknown,Unknown,Unknown,Unknown
438,670964912,False,finalized,3,2/10/15 2:03,"Chicago, Il",1.0,26-Jul-22,1.0,White,...,Best Supporting Actor,http://www.nndb.com/people/224/000032128/,Unknown,Unknown,All the President's Men,Jason Robards,Unknown,Unknown,Unknown,Unknown
439,670964956,False,finalized,3,2/10/15 2:01,"Laurel, Ne",1.0,31-Aug-28,1.0,White,...,Best Supporting Actor,http://www.nndb.com/people/764/000022698/,Unknown,Unknown,Affliction,James Coburn,Unknown,Unknown,Unknown,Unknown
440,670972898,False,finalized,3,2/10/15 2:01,"Nevada, Mo",1.0,5-Aug-06,1.0,White,...,Best Director,http://www.nndb.com/people/704/000024632/,Unknown,Unknown,The Treasure of the Sierra Madre,John Huston,Unknown,Unknown,Unknown,Unknown

In [33]:
oscars = oscars.fillna('Unknown')

In [ ]:
drop na -- use to drop all the row which have na
pd.sort -- sort the data bnased on any column
drop_duplicates-

In [34]:
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with.
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                    D    E
                mean  max      mean  min
    A   C
    bar large  5.500000  9.0  7.500000  6.0
        small  5.500000  9.0  8.500000  8.0
    foo large  2.000000  5.0  4.500000  4.0
        small  2.333333  6.0  4.333333  2.0

In [43]:
tuple1 = (1,2,3,4,5)

In [44]:
tuple1[2] = 5

TypeError: 'tuple' object does not support item assignment

In [45]:
list1 = [1,2,3,4,5]

In [46]:
list1[2] = 5

In [47]:
list1

[1, 2, 5, 4, 5]

In [48]:
tuple[2]

TypeError: 'type' object is not subscriptable